x8kauij6h7jbtg body {
    background-color:light-dark(pink, purple);
    color: light-dark(black, white)
}

footer{
    background-color: black; 
    color: white;
}
.center {width:960px;
    margin-left: auto;
    margin-right: auto;
}
#color-chooser {
    border: 3px solid rgb(191, 82, 191);

    input {
        display: none;
        border: 5px solid rgb(186, 63, 63);
    }
}
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
[type] {
    border: 6px double rgb(219, 76, 219)
}